<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel TestSuite" parallel= "tests" thread-count = "2">
  <test name="Tweet Madrid">
    <classes>
      <class name="innoItselenium.tweets.TweetMadridTest"/>
    </classes>
  </test>
  <test name="Diario Madrid">
    <classes>
      <class name="innoItselenium.tweets.DiarioMadridTest"/>
    </classes>
  </test> 
</suite> 
